* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arima', cursive;
}

h1 {
    padding-top: 200px;
    color: white;
    font-size: 90px;
    text-align: center;
}

p {
    padding-top: 20px;
    font-weight: 600;
    color: rgb(232, 231, 243);
    text-align: center;
    text-decoration-color: white;
}

.header {
    padding-top: 110px;
    text-align: center;
    text-decoration: none;
}

header {
    background-image:linear-gradient(rgba(19, 18, 18, 0.301),rgba(12, 11, 11, 0.966)), url(images/help.png);
    background-color: darkgray;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    text-decoration: solid;
    color: #cbf7fd;
}

a {
    margin-top: 20px;
    color: white;
}

.donation-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(115, 74, 226, 0.863), rgba(155, 27, 80, 0.911));
    padding: 20px 40px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

section h1 {
    text-align: center;
    color: black;
    font-size: 55px;
    font-weight: 700;
}

section p {
    text-align: center;
    color: black;
    padding-bottom: 40px;
}
.taka-list {
    color: #838080;
    display: flex;
    justify-content: center;
}

.taka-list h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
}

.taka-amount {
    padding: 35px 33px;
    background-color: rgb(248, 242, 242);
    width: 150px;
}

.amount-select {
    padding: 35px 33px;
    background-color: rgb(255, 203, 196);
    border: 2px solid #e10808;
}

.input {
    width: 100;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #a5a4a4;
    padding: 50px 350px;
    padding-bottom: 2px;
    background: transparent;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;

}

.other-amount {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.donation-button2 {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    background-image:linear-gradient(rgb(19, 88, 90), rgb(42, 136, 18));
    padding: 16px 40px;
    font-weight: 700;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.button2 {
    text-align: center;
    margin-top: 50px;
}

.donation-plan {
    display: flex;  
}

.donation-plan h3{
    color: rgb(248, 247, 246);
    font-size: 36px;
    text-align: center;

}

.donation-plan p {
    font-size: 16px;
    text-align: justify;
}

.food-donation {
    
    background-image: linear-gradient(rgba(73, 92, 3, 0.815), white);
    padding: 3% 2%;
    height: 300px;
    width: 500px;
    margin: 2%;
    border-radius: 10px;
    box-sizing: border-box;

}

.shelter-donation {
    background-image: linear-gradient(rgba(22, 7, 61, 0.815), white);
    padding: 3% 2%;
    height: 300px;
    width: 500px;
    margin: 2%;
    border-radius: 10px;
    box-sizing: border-box;
}

.education-donation {
    background-image: linear-gradient(rgba(153, 7, 7, 0.815), white);
    padding: 3% 2%;
    height: 300px;
    width: 500px;
    margin: 2%;
    border-radius: 10px;
    box-sizing: border-box;
}

.extra-sec {
    display: flex;
    text-align: left;
    margin-top: 40px;
}

.extra-sec2 {
    width: 50%;
    padding-left: 2%;
    text-align: center;
}

.extra-sec2 img {
    margin-top: 60px;
    border-radius: 40px;
    width: 90%;
}

.extra-head {
    text-align: left;
}

.extra-p {
    text-align:justify;
}
.donation-button3 {
    background-image: linear-gradient(rgba(0, 204, 255, 0.863), rgba(76, 27, 155, 0.911));
    padding: 20px 40px;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
}

.get-mail {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 217, 0, 0.815), rgb(34, 33, 33));
    padding: 90px 20px;
    border-radius: 5px;
}

.mail-form {
    width: 700px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;

}

.e-mail {
    background-color: whitesmoke;
    padding: 15px;
    color: black;
    width: 400px;
    border-radius: 5px;
}

.register {
    background-color: rgb(65, 136, 177);
    padding: 15px;
    color: black;
    margin-left: -10px;
    border-radius: 5px;
}

footer {
    background-color: black;

}

.footer {
    padding-top: 20px;
}

footer h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: #e10808;
    padding-top: 20px;
}

.footer-p {
    color: #f8f8f7;
}